@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat';
  --backgroundScrollbar: #DBD7F9;
  --thumbScrollbar:#ffffff;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html, body{
  min-width: 100%;
  overflow: hidden;
  margin: 0;
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--thumbScrollbar);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #679dc0;
  }
  ::-webkit-scrollbar-track {
    background: var(--backgroundScrollbar);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: var(--backgroundScrollbar);
  }
  ::-webkit-scrollbar-track:active {
    background: var(--backgroundScrollbar);
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

}
#app {




  /*overflow-y: hidden!* Ensure the background image is positioned relative to this container *!*/

}



.html {
  /*overflow: scroll;*/
  justify-content: center;
  align-items: start;
  /*overflow-y: hidden;*/

}
@media screen and (max-width: 568px) {
  .stage-columns {
    overflow-x: scroll;
  }

}
@media screen and (max-height: 480px) {
  html {
    overflow-y: scroll;
  }

}